- content_for :page_title do
  = t('spree_custom_trackers.editing_tracker')

- content_for :page_actions do
  = button_link_to t('spree_custom_trackers.back_to_trackers'), spree.admin_custom_trackers_path, icon: 'arrow-left'

= render 'spree/shared/error_messages', target: @custom_tracker

= form_for [:admin, @custom_tracker], html: { multipart: true } do |f|
  %fieldset.no-border-top
    = render partial: 'form', locals: { f: f }

    %div{ data: { hook: 'admin_custom_trackers_edit_form_buttons' } }
      = render partial: 'spree/admin/shared/edit_resource_links'
